.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding-top: 150px;
  padding-bottom: 150px;
}

.title {
  margin-top: 0px;
  color: #212121;
}

.timer {
  font-size: 36px;
}

.button {
  display: inline-block;
  padding: 5px 10px;

  font-size: 20px;
  color: #fff;
  background-color: #545861;
  border-radius: 4px;
}

.button:not(:last-child) {
  margin-right: 15px;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: #282c34;
}

.footterWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* padding: 25px 50px 25px 50px; */
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.githubLink {
  padding: 5px 15px;

  text-decoration: none;
  background-color: #fff;
  color: #282c34;
  border-radius: 4px;
  transform: scale(1);
  transition: all 300ms linear;
}

.githubLink:hover,
.githubLink:focus {
  background-color: green;
  transform: scale(1.2);
  outline: none;
}
